<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
  
  <configuration>
	<typeAliases>
	
		<typeAlias type="com.iu.sb4.board.BoardVO" alias="BoardVO"/>
		<typeAlias type="com.iu.sb4.board.notice.NoticeVO" alias="NoticeVO"/>
		<typeAlias type="com.iu.sb4.board.qna.QnaVO" alias="QnaVO"/>
		<typeAlias type="com.iu.sb4.util.Pager" alias="Pager"/>
		<typeAlias type="java.lang.Long" alias="Long"/>
		<typeAlias type="com.iu.sb4.board.file.FileVO" alias="FileVO"/>
		<typeAlias type="com.iu.sb4.member.MemberVO" alias="MemberVO"/>
		<typeAlias type="com.iu.sb4.member.MemberFile" alias="MemberFile"/>
		<typeAlias type="com.iu.sb4.member.MemberRoleVO" alias="MemberRoleVO"/>
		
	</typeAliases>
</configuration> 